.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.2rem;
  background: none;
}

.card-noteCard {
  background: linear-gradient(
    to right top,
    rgba(10, 10, 10, 0.65),
    rgba(15, 235, 99, 0.45)
  );
  backdrop-filter: blur(8px);
}

.card-title {
  @media screen and (max-width: 475px) {
    display: none;
  }
}
